<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AraçKiralamaOtomasyonu.Properties.Settings.Arac_Kiralama_FinalConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Arac_Kiralama_Final.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="AraçKiralamaOtomasyonu.Properties.Settings.Arac_Kiralama_FinalConnectionString1"
            connectionString="Data Source=DESKTOP-7QT69QN;Initial Catalog=Arac_Kiralama_Final;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="AraçKiralamaOtomasyonu.Properties.Settings.Arac_KiralamaConnectionString"
            connectionString="Data Source=DESKTOP-7QT69QN;Initial Catalog=Arac_Kiralama;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="AraçKiralamaOtomasyonu.Properties.Settings.Arac_Kiralama_Final1ConnectionString"
            connectionString="Data Source=DESKTOP-7QT69QN;Initial Catalog=Arac_Kiralama_Final1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>